.list{
    font-family:'Noto Serif Display', serif ;
}

button .list{
    font-family:'Noto Serif Display', serif ;
}

.custom{
    font-family:'Noto Serif Display', serif ;
}


.text-custom{
    font-family: Arial, Helvetica, sans-serif;
}